@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora/Sora-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-neutral-0: #FFFFFF;
  --color-blue-600: #177DFF;
  --color-blue-400: #4CA6FF;
  --color-red-500: #D64D5B;
  --color-green-500: #4DD67B;
  --color-yellow-400: #F4DC73;

  /* Typography */
  --font-family-sora: 'Sora';
}

body {
  background-color: var(--color-neutral-900);
  padding: 32px 112px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  height: fit-content;
}

main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.text-preset-1 {
  font-family: var(--font-family-sora);
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 136%;
  letter-spacing: 0.01em;
}

.text-preset-1-regular {
  font-family: var(--font-family-sora);
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 136%;
  letter-spacing: 0.01em;
}

.text-preset-2 {
  font-family: var(--font-family-sora);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: 0em;
}

.text-preset-3 {
  font-family: var(--font-family-sora);
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.text-preset-3-semi-bold {
  font-family: var(--font-family-sora);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 120%;
  letter-spacing: -0.015em;
}

.text-preset-4 {
  font-family: var(--font-family-sora);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0.003em;
}

.text-preset-5 {  
  font-family: var(--font-family-sora);
  font-weight: 400;
  font-size: 1rem;
  line-height: 120%;
  letter-spacing: -0.03em;
}

.text-preset-6 {
  font-family: var(--font-family-sora);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: 0em;
}

hr.solid {
  height: 1.5rem;
  border: 1px solid var(--color-neutral-500);
}