@import "tailwindcss";

@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora/Sora-VariableFont_wght.ttf');
}

@theme {
  --font-sora: "Sora", sans-serif;

  --color-neutral-900: #121212;
  --color-neutral-800: #262626;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;
  --color-neutral-0: #FFFFFF;

  --color-blue-600: #177DFF;
  --color-blue-400: #4CA6FF;

  --color-red-500: #D64D5B;

  --color-green-500: #4DD67B;

  --color-yellow-400: #F4DC73;

  --animate-confetti: confetti-slide 5s ease-in-out forwards;

  @keyframes confetti-slide {

    0%,
    100% {
      transform: translateY(100%);
      opacity: 0;
    }

    20%,
    80% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}


@utility text-preset-1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.025rem;
}

@utility text-preset-1-mobile {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02rem;
}

@utility text-preset-1-regular {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.025rem;
}

@utility text-preset-1-regular-mobile {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.025rem;
}

@utility text-preset-2 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0rem;
}

@utility text-preset-2-mobile {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0rem;
}

@utility text-preset-3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.039rem;
}

@utility text-preset-3-mobile {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.03rem;
}

@utility text-preset-3-semi-bold {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.01875rem;
}

@utility text-preset-4 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.003375rem;
}

@utility text-preset-5 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: -0.03rem;
}

@utility text-preset-6 {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0rem;
}